.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-size: 18px;
}

.img-holder{
    height: 80px;
}

.img-holder img {
    width: 100px;
}


